/.apt_generated/
/target/
/.classpath
/.factorypath
/.project
/.springBeans
/.settings/
/.idea/
/SPACE4Cloud-webGUI.iml
/logLauncher.txt
/instances/
/results/
/solInstances/
/TempWorkingDir/
/launcherDB.mv.db
