@CHARSET "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  /* outline: none;*/
  font-weight: normal;
}
h1,h2,h3,h4,h5,h6,td,th{
  text-align:center;
}
#topBar{
  width:100%; 
  display:table;
  background: rgb(109,131,161);	
}
#topBar h3{
  margin:0 auto;
  padding: 0 5px;
  line-height: 40px;
  color: white;
  display:table;
  background: rgb(109,131,161);	
  position:relative;
  z-index:1;
}

/* ios Button */
#ios-arrow-left {
  display : block;
  position:absolute;
  z-index : 1;
  left:10px;
  top: 0px;    
  height:31px;
  width:auto;
  padding: 0 10px 0 6px;
  background-size : 30px 30px;


  background-repeat:repeat-x;
  background-position :0;
  background-image : -moz-linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 50%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.3) 100%
  );
  background-image : -o-linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 50%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.3) 100%
  );
  background-image : -webkit-linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 50%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.3) 100%
  );

  border-radius: 5px;

  border-bottom: 1px solid rgba(255,255,255,0.4);

  box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
    0 1px 2px rgba(0,0,0,0.8)inset;

  color:#fff;
  text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}



#ios-arrow-left:before{
  position:absolute;
  content : ' ';
  left:-8px;
  top:4px;
  height : 23px;
  width: 24px;
  z-index : 1;

  background-repeat:repeat-x;
  background-size : 30px 30px;
  background-position :-1px -1.5px;
  background-image : -moz-linear-gradient(
    45deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 52%,
    rgba(255,255,255,0.1) 52%,
    rgba(255,255,255,0.4) 100%
  );
  background-image : -o-linear-gradient(
    45deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 52%,
    rgba(255,255,255,0.1) 52%,
    rgba(255,255,255,0.4) 100%
  );
  background-image : -webkit-linear-gradient(
    45deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 52%,
    rgba(255,255,255,0.1) 52%,
    rgba(255,255,255,0.4) 100%
  );
  background-image : linear-gradient(
    45deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 52%,
    rgba(255,255,255,0.1) 52%,
    rgba(255,255,255,0.4) 100%
  );


  -moz-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
  -o-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
  -webkit-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
  transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
  border-top-right-radius : 11px;
  border-top-left-radius :0px;
  border-bottom-right-radius : 0;
  border-bottom-left-radius : 10px;

  border-left : 1px solid rgba(255,255,255,0.4);

  box-shadow :  0px 1px 1px rgba(0,0,0,0.7) inset,
    2px -2px 2px -3px rgba(0,0,0,0.5) inset;

  /* -webkit-mask-image :
  -webkit-gradient(linear, left top, right bottom,
  from(#000000),
  color-stop(0.4,#000000),
  color-stop(0.5, transparent),
  to(transparent));
  */
}

#ios-arrow-left:after {

  font-family : HelveticaNeue,Helvetica, Arial;
  font-weight: 400;
  font-size : 12px;
  line-height : 30px;
  text-align:center;    
  content: attr(title)"";
  z-index: 999;
  left:-2px;
  padding-left:3px;
  position:relative;
  height: 30px;
  line-height:30px;
  display:block;
  background-repeat:repeat-x;
  background-size : 30px 30px;
  background-position :-1px -0.5px;
  box-shadow :0 -3px 1px -2px rgba(0,0,0,0.3)inset,
    0 4px 2px -3px rgba(0,0,0,0.8)inset;
  background-image : -webkit-linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 50%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.3) 100%
  );
  background-image : -moz-linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 50%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.3) 100%
  );
  background-image : -o-linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 50%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.3) 100%
  );
}
#ios-arrow-left,
#ios-arrow-left:after,
#ios-arrow-left:before {
  background-color: rgba(74,108,155,1);/*originalcolor*/

}

#ios-arrow-left:hover,
#ios-arrow-left:hover:after,
#ios-arrow-left:hover:before {
  background-color: rgba(54,88,135,1);/*hovercolor*/
}
#ios-arrow-container{
  position: absolute;
  height: 30px;
  width: 100px;
  margin: 5px 10px;
  left:0;
  top:0;
}

/* end of ios Button */


.link{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 10;
}
.linkFather link:hover ~ .linkText{
  text-decoration: underline;
}
.linkFather:hover linkText{
  text-decoration: underline;
}
.linkText:hover{
  text-decoration: underline;
}
.linkFather .link:visited ~ .linkText{
  color: #167A79;
}
.linkFather{
  position: relative;
}
.linkFather .link:visited{
  color: initial;
}
.linkFather .link{
  color: initial ;
}
.clearfix:after {
  content: "";
  clear: both;	
}
.clearfix {
  display: table;
}



/* Basic Grey */
.basic-grey {
  margin-left:auto;
  margin-right:auto;
  max-width: 800px;
  background: #F7F7F7;
  padding: 25px 15px 25px 10px;
  font: 12px Georgia, "Times New Roman", Times, serif;
  color: #888;
  border:1px solid #E4E4E4;
}
.basic-grey h1 {
  font-size: 25px;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom:1px solid #E4E4E4;
  margin: -10px -15px 30px -10px;;
  color: #888;
}
.basic-grey h1>span {
  display: block;
  font-size: 11px;
}
.basic-grey label {
  display: block;
  margin: 0px;
}
.basic-grey label>span {
  float: left;
  width: 40%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
  padding: 5px 3px 3px 5px;
}
.basic-grey select {
  background: #FFF url('down-arrow.png') no-repeat right;
  background: #FFF url('down-arrow.png') no-repeat right);
  appearance:none;
  -webkit-appearance:none; 
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
  height: 35px;
  line-height: 25px;
}
.basic-grey textarea{
  height:100px;
}
.basic-grey .button {
  background-color: #32465f;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
  width: auto;
}


button {
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: #32465f;
  margin: 10px auto;
  display: block;
  box-shadow: 0 0 5px black;
}
.basic-grey .input[type=file] {
  #background: #E27575;
  width:  auto;
}
.basic-grey .button:hover {
  background: #CF7A7A
}

.basic-grey .text{
  color: red;
  text-align: center;
  font-size: 18px;
}