<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Simulations</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../../css/common.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/simulations.css}" href="../../css/simulations.css"/>
</head>
<body>
	<div id="topBar">
    		<div id="ios-arrow-container">
    			<div id="ios-arrow-left" title="Home">
    				<a href="/" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:1000;"></a>
    			</div>
    		</div>
    		<h3>Simulator launcher</h3>
    		<div style="width: 100%;height: 1px;background-color:white;position: absolute;top: 20px;z-index: 0;"></div>
    </div>
  
    <div class="blankSpace"></div>
    <div class="launchesContainer clearfix">
    	<div class="launchType linkFather">
    		<a th:href="@{|#|}" class="link" >
    			<h2 class="linkText">Optimization Analysis</h2>
    		</a>
    	</div>
    	<div class="launchType linkFather">
    	    <a th:href="@{|/launchWI|}" class="link" >
    	    	<h2 class="linkText">What-If Analysis</h2>
    	    </a>
    	</div>
    </div>
    
    <div class="resContainer clearfix">
    	<div class="resType linkFather">
    		<a th:href="@{|/resOpt|}" class="link" >
    			<h2 class="linkText">Optimization Results</h2>
    		</a>
    	</div>
    	<div class="resType linkFather">
    	    <a th:href="@{|/resWI|}" class="link" >
    	    	<h2 class="linkText">What-If Results</h2>
    	    </a>
    	</div>
    </div>
     
</body>
</html>