<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" type="text/css" th:href="@{/css/simulations.css}" href="../../css/simulations.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../../css/common.css"/>
</head>
<body>
	<div id="topBar">
   		<div id="ios-arrow-container">
    		<div id="ios-arrow-left" title="Home">
    			<a href="/" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:1000;"></a>
    		</div>
    	</div>
    	<h3>Simulator launcher</h3>
    	<div style="width: 100%;height: 1px;background-color:white;position: absolute;top: 20px;z-index: 0;"></div>
    </div>
  <br />
  <div class="basic-grey">
    <h3>Experiment list</h3>
    <div class="resultContainer">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>State</th>
            <th>Gamma</th>
            <th>Provider</th>
            <th>Iter</th>
            <th>RunTime[ms]</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="sim: ${sim}" >
            <td th:text="${sim.id}">ID</td>
            <td th:text="${sim.instanceName}">instanceName</td>
            <td><img height="25" th:src="${'/images/' + sim.state + '.gif'}" style="margin: 0 auto;display:block;" /></td>
            <td th:text="${sim.gamma}">ThinkTime</td>
            <td th:text="${sim.provider}">VMs</td>
            <td th:text="${sim.iter}">iter</td>
            <td th:text="${sim.experimentalDuration}">experimentalDuration</td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</body>
</html>