<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Simulations</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"
	href="../css/common.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/simulations.css}"
	href="../css/simulations.css" />
</head>
<body>
	<div id="topBar">
		<div id="ios-arrow-container">
			<div id="ios-arrow-left" title="Home">
				<a href="/"
					style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1000;">
				</a>
			</div>
		</div>
		<h3>Simulator launcher</h3>
		<div
			style="width: 100%; height: 1px; background-color: white; position: absolute; top: 20px; z-index: 0;">
		</div>
	</div>
	
	<div th:if ="${message} != null" class="basic-grey" > 
   		<p class ="text" th:text = "${message}"></p>
 	</div>
	<h1>Select instance files</h1>
  
	<form id="form" method="POST" enctype="multipart/form-data" th:action="@{/files/uploadOpt}" class="basic-grey">
		<label> 
			<span>Select template solution file :</span> 
    		<input id="name" type="file" name="file" class="input" accept=".json" required="required" />
		</label>
		<br/> 
   		<label> 
   		 	<span>Select map info file :</span> 
   		 	<input id="name" type="file" name="file" class="input" accept=".txt" required="required" />
		</label>
		<br/> 
   		 <label> <span>Select reduce info file :</span> 
   		 	<input id="name" type="file" name="file" class="input" accept=".txt" required="required" />
		</label> 
		<br/>
		<label> 
			<span>Select cloud type:</span> 
			<select name="cloudType" th:if="${ not #lists.isEmpty(cloudTypes)}">
				<option th:each="cloudType: ${cloudTypes}" th:text="${cloudType}" th:value="${cloudType}"></option>
			</select>
		</label>
		<br/>
		<label> <span>&nbsp;</span> <br /> <input type="submit"
			class="button" value="Submit" />
		</label>
	</form>
	<h1>Select folder with instance files</h1>
	<form id="formFolder" method="POST" enctype="multipart/form-data" th:action="@{/files/uploadOptFolderFiles}" class="basic-grey">
		<label> 
			<span>Select a folder:</span> 
			<input id="folder" type="file" name="file[]" class="input"  webkitdirectory="" directory="" multiple="" mozdirectory="" required="required"/>
		</label>
		<br/>
		<label> 
			<span>Select cloud type:</span> 
			<select name="cloudType" th:if="${ not #lists.isEmpty(cloudTypes)}">
				<option th:each="cloudType: ${cloudTypes}" th:text="${cloudType}" th:value="${cloudType}"></option>
			</select>
		</label>
		<br/>
		<label> 
			<span>&nbsp;</span> 
			<input type="submit" class="button" value="Submit" />
		</label>
	</form>
	
</body>
</html>