<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Simulations</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"
	href="../css/common.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/simulations.css}"
	href="../css/simulations.css" />
</head>
<body>
	<div id="topBar">
		<div id="ios-arrow-container">
			<div id="ios-arrow-left" title="Home">
				<a href="/"
					style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1000;">
				</a>
			</div>
		</div>
		<h3>Simulator launcher</h3>
		<div
			style="width: 100%; height: 1px; background-color: white; position: absolute; top: 20px; z-index: 0;">
		</div>
	</div>
	
	<div th:if ="${message} != null" class="basic-grey" > 
   		<p class ="text" th:text = "${message}"></p>
 	</div>
	<h1>Select <span th:text="${scenario.getCloudType()}"></span> Cloud <span th:text="${scenario.getDescription()}"></span> files</h1>
  
	<form id="form" method="POST" enctype="multipart/form-data" th:action="@{/files/uploadWithSeparateJson}" class="basic-grey">
		<div style="width:100%;text-align:center;font-size: small;color: black;margin: 5px;">
		 json files:
		</div>
    	<label> 
    		<span>Select job-profile's template file:</span> 
   			<input type="file" name="file" class="input" accept=".json" required="required" />
		</label>
		<br/>
		<label> 
    		<span>Select class-parameters' template file:</span> 
   			<input type="file" name="file" class="input" accept=".json" required="required" />
		</label>
		<br/>
		
		<div th:switch="${scenario}"> 
		  <div th:case="${T(it.polimi.diceH2020.SPACE4CloudLauncherMockup.Scenarios).PrivateAdmissionControl}">
			  <label>
		  		<span>Select private-cloud-parameters' template file:</span>
		  		<input type="file" name="file" class="input" accept=".json" required="required" />
			  </label>
			  <br/>
			  <label> 
		   		<span>Select TypeVMs' template file:</span> 
		  		<input type="file" name="file" class="input" accept=".json" required="required" />
			  </label>
		  </div>
		  <div th:case="${T(it.polimi.diceH2020.SPACE4CloudLauncherMockup.Scenarios).PrivateNoAdmissionControl}">
			  <label> 
		   		<span>Select TypeVMs' template file:</span> 
		  		<input type="file" name="file" class="input" accept=".json" required="required" />
			  </label>
		  </div>
		  <div th:case="${T(it.polimi.diceH2020.SPACE4CloudLauncherMockup.Scenarios).PublicPeakWorkload}">
			  <label >
			  	<span>Select public-cloud-parameters' template file:</span>
			  	<input type="file" name="file" class="input" accept=".json" required="required" />
			  </label>
		  </div>
		</div>
		<br/>
		<div style="width:100%;text-align:center;font-size: small;color: black;margin: 5px;">
		 txt files:
		</div>
    	<label>
    		<span>Select map info file :</span> 
    		<input type="file" name="file" class="input" accept=".txt" required="required" />
		</label>
		<br/> 
    	<label>
	    	<span>Select reduce info file :</span>
	    	<input type="file" name="file" class="input" accept=".txt" required="required" />
    	</label> 
		<input type="hidden" name="scenario" required="required" th:value="${scenario}" />
		<div style="width:100%;">
			<input type="submit" class="button" value="Submit" style="margin:20px auto;display:block;" />
		</div>
	</form>
</body>
</html>