<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<link rel="stylesheet" type="text/css" th:href="@{/css/simulations.css}" href="../../css/simulations.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/loader.css}" href="../../css/loader.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../../css/common.css"/>
	<title>Simulations</title>
</head>
<body>
	<div id="topBar">
    	<div id="ios-arrow-container">
    			<div id="ios-arrow-left" title="Home">
    				<a href="/" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:1000;"></a>
    			</div>
    	</div>
    	<h3>Simulator launcher</h3>
    	<div style="width: 100%;height: 1px;background-color:white;position: absolute;top: 20px;z-index: 0;"></div>
    </div>
	<h1>Executing simulations...</h1>
	<div class="container">
		<div class="clear-loading loading-effect-1">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</body>
</html>