<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Simulations</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/simulations.css}" href="../../css/simulations.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../../css/common.css"/>
<style>
::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic; 
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic; 
}

:-ms-input-placeholder {  
   font-style: italic;
}
</style>
<script type="text/javascript">
	var warnings="";
	if(typeof(Storage) !== "undefined") {//browser support sessionStorage and sessionStorage    	
			var rand = Math.floor((Math.random() * 100000) + 1);
			sessionStorage.clear();
			localStorage.clear();
			sessionStorage.setItem("tabID","tabID"+rand);
	} else {
       	 	// No Web Storage support
       	 	warnings+="Your browser doesn't support Web Storage. <br/> Be sure you aren't filling these forms in multiple tabs!";     	 	
    }
</script>
</head>
    <body>    	
    	<div id="topBar">
    		<div id="ios-arrow-container">
    			<div id="ios-arrow-left" title="Home">
    				<a href="/" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:1000;"></a>
    			</div>
    		</div>
    		<h3>FIFO SIMULATIONS</h3>
    		<div style="width: 100%;height: 1px;background-color:white;position: absolute;top: 20px;z-index: 0;"></div>
    	</div>
    	
    	<div id="warningsDiv">
    		<img th:src="@{/images/warning.png}" src="../../images/warning.png"/>
    		<p id="warnings"></p>
    	</div>
        <form action="/V7/simulations" th:action="@{/V7/simulations}" th:object="${sim_manager}" method="post">
        	<h1>Simulator Parameters</h1>
        	<table>
        	   <tr>
                    <td>Simulation number of classes:</td>
                    <td><input type="text" th:field="*{class_number}"   placeholder="2" /></td>
                    <td th:if="${#fields.hasErrors('class_number')}" class="form_error" th:errors="*{class_number}">Class Number Error</td>
               </tr>
               <tr>
                    <td>Erlang:</td>
                    <td><input type="checkbox" th:field="*{erlang}" /></td>
                    <td th:if="${#fields.hasErrors('erlang')}" class="form_error" th:errors="*{erlang}">Class Number Error</td>
                </tr>
                <tr>
                    <td>100% - accuracy = [%]</td>
                    <td><input type="text" th:field="*{accuracy}"   placeholder="5" /></td>
                    <td th:if="${#fields.hasErrors('accuracy')}" class="form_error" th:errors="*{accuracy}">Class Number Error</td>
                </tr>
                <!--  <tr>
                    <td>Confidence interval = [%]</td>
                    <td><input type="text" th:field="*{confidenceInterval}"   placeholder="5" /></td>
                    <td th:if="${#fields.hasErrors('confidenceInterval')}" class="form_error" th:errors="*{confidenceInterval}">Class Number Error</td>
                </tr>-->
                <tr>
                    <td>Min num batch:</td>
                    <td><input type="text" th:field="*{minNumOfBatch}"   placeholder="5" /></td>
                    <td th:if="${#fields.hasErrors('minNumOfBatch')}" class="form_error" th:errors="*{minNumOfBatch}">Class Number Error</td>
                </tr>
                <tr>
                    <td>Max num batch:</td>
                    <td><input type="text" th:field="*{maxNumOfBatch}"   placeholder="5" /></td>
                    <td th:if="${#fields.hasErrors('maxNumOfBatch')}" class="form_error" th:errors="*{maxNumOfBatch}">Class Number Error</td>
                </tr>
                <tr>
                    <td>Increasing users with step:</td>
                    <td><input type="text" th:field="*{stepUsrs}"   placeholder="1" /></td>
                    <td th:if="${#fields.hasErrors('stepUsrs')}" class="form_error" th:errors="*{stepUsrs}">Class Number Error</td>
                </tr>
                <tr>
                    <td>Increasing cores with step:</td>
                    <td><input type="text" th:field="*{stepCores}"   placeholder="1" /></td>
                    <td th:if="${#fields.hasErrors('stepCores')}" class="form_error" th:errors="*{stepCores}">Class Number Error</td>
                </tr>
			</table>    	
    		<h1>Classes Common Parameters</h1>
            <table>
                <tr colspan="3"><td colspan="3" style="text-align:center;font-style:italic;font-weight:800;">Common Parameters </td></tr><!-- blank space -->
                <tr>
                	<td style="font-style:italic;text-align:center;" colspan="3">NB: Insert a value only if the field is constant in all the classes.</td>
                </tr>
                <tr>
                    <td>Common number of Map:</td>
                    <td><input type="text" th:field="*{map}"  placeholder="1" /></td>
                    <td th:if="${#fields.hasErrors('map')}" class="form_error" th:errors="*{map}">Map Error</td>
                </tr>
                <tr>
                    <td>Common number of Reduce:</td>
                    <td><input type="text" th:field="*{reduce}"   placeholder="1" /></td>
                    <td th:if="${#fields.hasErrors('reduce')}" class="form_error" th:errors="*{reduce}">Reduce Error</td>
                </tr>
				<tr>
                    <td>Common Map Time[ms]:</td>
                    <td><input type="text" th:field="*{mapTime}" placeholder="1000" /></td>
                    <td th:if="${#fields.hasErrors('mapTime')}" class="form_error" th:errors="*{mapTime}">Map Time Error</td>
                </tr>
                <tr>
                    <td>Common Reduce Time[ms]:</td>
                    <td><input type="text" th:field="*{reduceTime}" placeholder="1000" /></td>
                    <td th:if="${#fields.hasErrors('reduceTime')}" class="form_error" th:errors="*{reduceTime}" >Reduce Time Error</td>
                </tr>
                <tr>
                    <td>Common Think Time[ms]:</td>
                    <td><input type="text" th:field="*{thinkTime}" placeholder="1000" /></td>
                    <td th:if="${#fields.hasErrors('thinkTime')}" class="form_error" th:errors="*{thinkTime}" >Reduce Time Error</td>
                </tr>
                <tr>
                    <td>Common min number of cores:</td>
                    <td><input type="text" th:field="*{minNumCores}" placeholder="1" /></td>
                    <td th:if="${#fields.hasErrors('minNumCores')}" class="form_error" th:errors="*{minNumCores}" >Min Number of Cores Error</td>
                </tr>
                <tr>
                    <td>Common max number of cores:</td>
                    <td><input type="text" th:field="*{maxNumCores}"  placeholder="1" /></td>
                    <td th:if="${#fields.hasErrors('maxNumCores')}" class="form_error" th:errors="*{maxNumCores}" >Max Number of Cores Error</td>
                </tr>
                <tr>
                    <td>Common min number of users:</td>
                    <td><input type="text" th:field="*{minNumUsers}" placeholder="1" /></td>
                    <td th:if="${#fields.hasErrors('minNumUsers')}" class="form_error" th:errors="*{minNumUsers}" >Min Number of Users Error</td>
                </tr>
                <tr>
                    <td>Common max number of users:</td>
                    <td><input type="text" th:field="*{maxNumUsers}" placeholder="1" /></td>
                    <td th:if="${#fields.hasErrors('maxNumUsers')}" class="form_error" th:errors="*{maxNumUsers}"  >Max Number of Users Error</td>
                </tr>
                                
                <tr>
                    <td colspan="3"><button type="submit">Submit</button></td>
                </tr>
            </table>
            <input id="tabID" type="hidden" th:field="*{tabID}"/>
        </form>
     	<script type="text/javascript">
     		if(warnings!=""){
     			document.getElementById("warnings").innerHTML=warnings; 
     			document.getElementById("warningsDiv").style.display="table";
     		}
     		document.getElementById("tabID").value=sessionStorage.getItem("tabID");
     	</script>
    </body>
</html>